body {
  font-family: Arial, sans-serif;
  background-color: #2d2d2d;
  color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.wallet-section,
.expense-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #444;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.wallet-balance,
.add-expense-btn {
  text-align: center;
  margin: 0 20px;
}

.wallet-balance {
  background: #555;
  padding: 20px;
  border-radius: 10px;
}

.add-income-btn,
.add-expense-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-expense-btn {
  background-color: #dc3545;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

.expense-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background: #555;
  border-radius: 5px;
}

.expense-list span {
  margin: 0 10px;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chart {
  background: #555;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  margin: 0 10px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #000;
}

.modal-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-button {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.modal-button-cancel {
  background-color: #6c757d;
}

.modal-button:hover {
  opacity: 0.8;
}
